<div id="js-questions-bo" class="row">
	{% for question in questions %}
		<div class="col-md-6 mb-4 question-card" id="question-card-{{ question.id }}">
			<div class="card shadow-sm" id="card-{{ question.id }}">
				<div class="card-header d-flex">
					<span class="me-auto">{{ question.firstname }}
						{{ question.lastname }}<br>{{ question.email }}</span>

					<a class="js-status">
						<span class="js-question-status">
							<div class="form-check form-switch">
								<input class="form-check-input js-question-switch" type="checkbox" data-switch="{{ question.id }}" id="switch-{{ question.id }}" {% if question.status == true %} checked {% endif %}>
							</div>
						</span>
					</a>

					<a class="reply ms-4" href="" data-bs-toggle="modal" data-bs-target="#answerModal-{{ question.id }}">
						<i class="fal fa-reply {% if question.answers|length > 0 %}text-success{% else %}text-warning{% endif %}"></i>
					</a>
					<a class="js-delete ms-4" data-question="{{ question.id }}" id="delete-btn-{{ question.id }}">
						<i class="fal fa-trash-alt text-danger"></i>
					</a>
				</div>
				<div class="card-body">
					<p class="card-text">{{ question.question }}</p>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="answerModal-{{ question.id }}" tabindex="-1" aria-labelledby="answerModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="answerModalLabel">{{ question.question }}</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="mb-3">
								<label for="js-answer-{{ question.id }}" class="form-label">Votre réponse</label>
								<textarea class="form-control" id="js-answer-{{ question.id }}" rows="3"></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
							<button type="button" class="btn btn-primary answer-btn" id="js-answer-button-{{ question.id }}" data-question="{{ question.id }}" data-bs-dismiss="modal">Envoyer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
