<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{{ websiteData.websiteConfig.title }}
				|
				{{ websiteData.websiteConfig.tagline }}
			{% endblock %}
		</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        
		<meta property="og:title" content="{{ websiteData.websiteConfig.title }} | {{ websiteData.websiteConfig.tagline }}"/>
		<meta property="og:description" content="{{ websiteData.websiteConfig.title }} | {{ websiteData.websiteConfig.tagline }} | Votre Patrimoine By CA Touraine Poitou Banque Privée - Un réseau d’experts mobilisé sur la Touraine et le Poitou afin d'accompagner vos projets."/>
		<meta property="og:image" content="img/default/waiting-bg.jpg"/>
		<meta property="og:image:secure_url" content="img/default/waiting-bg.jpg"/>
		<meta property="og:image:type" content="jpg"/>
		<meta property="og:image:width" content="1920"/>
		<meta property="og:image:height" content="1080"/>
		<meta property="og:image:alt" content="{{ websiteData.websiteConfig.title }} | {{ websiteData.websiteConfig.tagline }}"/>
		<meta property="og:url" content=""/>
		<meta property="og:type" content="website">
		<meta property="og:locale" content="fr_FRANCE">
		<meta property="og:site_name" content="{{ websiteData.websiteConfig.title }} | {{ websiteData.websiteConfig.tagline }}">
		<meta name="description" content="{{ websiteData.websiteConfig.title }} | {{ websiteData.websiteConfig.tagline }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        {{ websiteData.websiteConfig.googleAnalytics|raw }}
	</head>
{% if websiteData.websiteConfig.event %}
    <body{% if websiteData.websiteConfig.event.active == 1 %} class="eventOn"{% endif %} {% if app.request.get('_route') == 'home' %}onload="checkScreen()" onresize="checkScreen()"{% endif %}>
{% else %}
    <body {% if app.request.get('_route') == 'home' %}onload="checkScreen()" onresize="checkScreen()"{% endif %}>
{% endif %}
        {% include 'blocks/layout/header-client.html.twig' %}
        <div class="flash-messages">      
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>                                    
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div id="main-container" class="global-container">
            {% block body %}{% endblock %}
            {% include 'blocks/layout/footer.html.twig' %}
        </div>
    </body>
</html>
